// Colors
$primary-dark-color: #003c43;
$primary-color: #135d66;
$primary-light-color: #77b0aa;
$primary-very-light-color: #e3fef7;
$white-color: #fff;

// Font Sizes
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 20px;

// Radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;
$radius-full: 50%;

// Spaces
$space-sm: 4px;
$space-md: 8px;
$space-lg: 12px;
$space-xl: 16px;
